/web/bundles/
/var/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/build/
/vendor/
/bin/doctrine*
/composer.phar
/web/components/
/web/assetic/
.vagrant/
puphpet/files/dot/ssh/id*
puphpet/files/dot/ssh/root*