{% extends 'AdmingeneratorDashboardDemoBundle::base_admin.html.twig' %}

{% block body %}
<br />
<div class="row-fluid">
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" src="{{ asset('bundles/admingeneratorgenerator/ico/apple-touch-icon-144-precomposed.png') }}" alt="Admingenerator organization logo">
	  </a>
	  <div class="media-body">
	    <h1 class="media-heading">Welcome to Symfony2 Admingenerator demo project!</h1>
	    <br />
	    <p>
	    	The following demo project was created as a showcase of Admingenerator capabilities.
	    </p>
	  </div>
	</div>	
</div><!--/.row -->
{% endblock %}